Create New Link

<form method="post" action="<%=links_url%>">
  
  <label>
    Title
    <input type="text" name="link[title]" value= "">
  </label>
  <label>
    URL
    <input type="password" name="link[url]" value= "">
  </label>
  <input type="submit" value="Create New Link">
</form>